.maindiv{
    border: 0px;
    padding: 25px;
    border-style: solid;
    border-color:gray;
    margin: 50px;
    border-radius: 10px;
    box-shadow:  0 0 5px gray;
    height: fit-content;
    width: fit-content;
}

#txt_sign_up{
    font-size: small;
}

.typecontainer{
    display: flex;
    flex-shrink: inherit;
    flex-wrap: wrap;
}